replicaCount: 1

image:
  repository: mongo
  pullPolicy: IfNotPresent
  tag: "6"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 27017
  targetPort: 27017

persistence:
  enabled: false
  # storageClass: "-"
  # size: 1Gi
