replicaCount: 1

image:
  repository: docker.io/shahaly/hospital-mern-stack-backend
  pullPolicy: Always
  tag: "github-sha-a55b3b19ea76293ff4642c97e84ccc55bba81155"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000

env:
  PORT: "5000"
  # MONGO_URL will be constructed in the template if not provided
  # MONGO_URL: "mongodb://mongo-service:27017/hospital_db"
